#net{
    height: 200px;
    width: 200x;
}
#d{
  font-size: x-large;  
}
#mn{
  font-size: large;
}
#maz{
  font-size: large;
}
#result{
  font-size: large;
}
#j{
  font-size: large; 
}